
<!-- <app-welcome></app-welcome> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <h2>Welcome {{getuserstatus()}} </h2>

            </li>
            <li>
                <div *ngIf="statusfunc()">
                    <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0" > Logout </button>
                </div>
            </li>
        </ul>

    </div>

</nav> -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand" > Welcome {{getuserstatus()}} </div>
        <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- <div *ngIf="statusfunc()">
            <button (click)="logout()" > Logout </button>
        </div>
     -->
        <li>         
            <!-- <div *ngIf="statusfunc()"> -->

                
                <a  *ngIf="statusfunc()" class="btn btn-default"  (click)="logout()" > <span class="glyphicon glyphicon-log-out"></span>   Logout </a>
        <!-- </div>  -->
       </li>
      
    </ul>

    </div>
  </nav>



<router-outlet> </router-outlet> 
<!-- <app-admin></app-admin> -->